body {
  background:linear-gradient(to bottom right,#f4da84,#e3461a);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;              /* Full screen */
  margin: 0;
}

#weatherstation {
  display: flex;
  flex-direction: column;     /* Stack items vertically */
  align-items: center;
  gap: 15px;
  text-align: center;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  color: black;
  padding: 5px;
}

#cityInput {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid gray;
  width: 200px;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  font-family: "Dancing Script", cursive;
}
.input-group{
    display: flex;
    gap: 10px;
}
button {
  font-family:"Roboto Condensed", sans-serif;
  background-color: rgb(255, 140, 0);
  color: black;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(255, 110, 0);
}

#logo{
  height: auto;
  width: 90px;
  vertical-align: middle;
}

#weatherresult {
  font-family:"Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(32, 31, 30);
  margin-top: 20px;
}